li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body ::-webkit-scrollbar {
  display: none;
}

#client {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#client .login-bar-wrap {
  height: 5px;
  flex: 1;
  border-bottom: 1px solid;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  align-items: center;
  background: #8856d817;
  transition: 0.5s;
  color: #8856d817;
}

#client .login-bar-wrap a {
  color: #8856d817;
}

#client .login-bar-wrap.active {
  color: #9a7979;
  border: none;
  height: 25px;
}

#client .login-bar-wrap.active a {
  color: #a77f8a;
  cursor: pointer;
  font-weight: 600;
}

#client .login-bar-wrap.active a:hover {
  color: #604d52;
}

#client .login-bar-wrap .action-register {
  flex: 1;
  padding: 0 0 0 5px;
}

#client .login-bar-wrap .login-bar {
  display: flex;
  padding: 0 1%;
  flex: 0 1 auto;
  align-self: center;
}

#client .login-bar-wrap .login-bar div {
  display: flex;
  flex: 0 1 auto;
  align-self: center;
  word-break: keep-all;
}

#client .login-bar-wrap .login-bar div:first-of-type {
  padding: 0 5px 0 0;
}

#client .header-wrap {
  position: relative;
  height: auto;
  width: 100%;
}

#client .header-wrap .header {
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px #00000073;
}

#client .header-wrap .header .nav-wrap.topnav {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

#client .header-wrap .header .nav-wrap.topnav .nav-cell {
  flex: 1 1 20%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #a5a5a5;
  font-weight: 600;
  text-transform: uppercase;
}

#client .header-wrap .header .nav-wrap.topnav .nav-cell div {
  margin: auto;
}

#client .header-wrap .header .nav-wrap.topnav .nav-cell.active {
  color: white;
  background: #12a9abde;
}

#client .header-wrap .header .nav-wrap.topnav .nav-cell.logo:hover {
  background: white;
  color: #a5a5a5;
}

#client .header-wrap .header .nav-wrap.topnav .nav-cell:hover {
  background: #12a9abde;
  color: #c9f0ff;
}

#client .header-wrap .header .nav-wrap.topnav .nav-cell:hover div {
  margin: 0 auto 5% auto;
}

#client .content-wrap {
  height: 90%;
  top: 0;
  background: linear-gradient(151deg, #30ac8ead, #0096dad4);
  color: #0d1224;
}

#client .content-wrap .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden scroll;
}

#client .content-wrap .content .tagline-section-wrap {
  flex: 1;
  display: flex;
  height: auto;
  justify-content: center;
}

#client .content-wrap .content .tagline-section-wrap .tagline-section-left {
  flex: 0 1 60%;
  display: flex;
  height: 100vh;
  justify-content: inherit;
  flex-direction: column;
  padding: 0 5%;
}

#client .content-wrap .content .tagline-section-wrap .tagline-section-left .tagline-title {
  color: #dbf9f8;
  font-size: 25px;
  font-weight: 600;
}

#client .content-wrap .content .tagline-section-wrap .tagline-section-left .tagline-paragraph {
  text-align: left;
  color: #224f5a;
  padding-top: 5%;
  width: 80%;
  word-break: normal;
}

#client .content-wrap .content .tagline-section-wrap .tagline-section-right {
  background-color: #4531b673;
  flex: 0 1 40%;
  height: auto;
  background-image: url(https://images.unsplash.com/photo-1520179496724-39ca3d310cfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-blend-mode: overlay;
  background-size: cover;
  background-position-y: bottom;
}

#client .app-footer-wrap {
  height: 10%;
  background: black;
  color: #cce2ea;
  display: flex;
}

#client .app-footer-wrap div {
  flex: 1;
  text-align: center;
}

