// BG________________________________________________________
$image-overlay: #4531b673;
$solid-green: #12a9abde;

// TEXT______________________________________________________

$dark-text: #40576d;
$darker-text: #0d1224;
$light-title: #dbf9f8;
$blue-white: #b3becc;

//Layers_____________________________________________________
$layer1: 5;
$layer2: 10;
$layer3: 15;