// VARS______________________________________________________
@import '_variables';
// Common rules______________________________________________
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

body {
    ::-webkit-scrollbar { 
        display: none; 
    }

    scroll-behavior: smooth;

    font-family: 'Abel', sans-serif!important;
}

.line {
    border-bottom: 1px inset;
    width: 100%;
    &.red {
        border-color: red;
    }
    
}
// Standalone rules__________________________________________

// Z-index increments by 5


// Main app container________________________________________
#client {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

// Optional login bar________________________________________
    .login-bar-wrap {
        height: 5px;
        flex: 1;
        border-bottom: 1px solid;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        align-items: center;
        background: #8856d817;
        transition: .5s;
        color: #8856d817;
        position: relative;
        
        a {
            color: #8856d817;
        }

        &.active {
            color: #9a7979;
            border: none;
            height: 30px;
       
            a {
                color: #a77f8a;
                cursor: pointer;
                font-weight: 600;
                &:hover {
                    color: #604d52;
                }
            }

        }
        
        .hidden {
            display: none;
        }

        .close-login {
            position: absolute;
            top: 20%;
            left: 1%;
            cursor: pointer;

            svg {
                &:hover {
                    color: red;
                }
            }
        }

        .action-register {
            flex: 1;
            padding: 0 0 0 5px;
            
        }

        .login-bar {
            display: flex;
            padding: 0 1%;
            flex: 0 1 auto;
            align-self: center;

            div {
                display: flex;
                flex: 0 1 auto;
                align-self: center;
                word-break: keep-all;

                &:first-of-type {
                    padding: 0 2px 0 0;
                }
            }
        }
    }

// Header ___________________________________________________
    .header-wrap {
        position: relative;
        height: auto;
        width: 100%;
        .header {
            height: 50px;
            display: flex;
            align-items: center;
            box-shadow: 0 1px #00000073;
// Nav bar __________________________________________________
            .nav-wrap {
                &.topnav {
                    display: flex;
                    flex: 1;
                    height: 100%;
                    align-items: center;
// Topnav cells______________________________________________
                    .nav-cell {
                        position: relative;
                        flex: 1 1 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: #a5a5a5;
                        font-weight: 600;
                        text-transform: uppercase;
                        justify-content: center;

                        &.icon {
                            flex: 1 1 10%;
                            justify-content: center;

                            svg {
                                margin: auto;
                            }
                        }

                        &:hover {
                            background: #12a9abde;
                            color: #c9f0ff;

                            div {
                                margin: 0 auto 5% auto;
                            }

                            .top-search-icon {
                                color: #12a9abde;
                            }
                        }
// Topnav search_____________________________________________
                        input {
                            height: 45%;
                            width: 90%;
                            background: white;
                            border-right: 0;
                            border-left: 0;
                            border-top: 0;
                            border-bottom: 1px solid #a5a5a5;
                            margin: auto;
                            &:focus {
                                outline: none;
                                background: #b8e3dc;
                                color: $dark-text;
                            }

                        }
                        .top-search-icon {
                            position: absolute;
                            right: 7%;
                            color: #a5a5a5;
                        }
_____________________________________________
                        div {
                            margin: auto;
                        }

                        &.active {
                            color: white;
                            background: #12a9abde;
                        }

                        &.logo {
                            &:hover {
                                background: white;
                                color: #a5a5a5;
                            }
                        }
                    }

// Language Icon_____________________________________________

                    .language-selector-wrap {
                        position: relative;
                        flex: 0 1 10%;
                        text-align: center;
                        color: #f4f0fb;
                        transition: .3s;
                        height: 100%;
                        &:hover {
                            color: #a5a5a6;
                            svg {
                                background: #31b4b6!important;
                                color: #c9f0ff!important;
                            }
                            &.language-list {
                                background: white;
                            }
                        }

                        svg {
                            background: #a5a5a5;
                            color: white;
                            border-radius: 21px;
                            padding: 2%;
                            cursor: pointer;
                            z-index: 5;
                        }

                        div {
                            position: absolute;
                            top: 0;
                            width: 100%;
                        }

                        .language-list {
                            display: flex;
                            flex-direction: column;
                            background: white;
                            position: relative;
                            transform: translateY(44%);
                            z-index: 5;
                            transition: .3s;

                            .language-choice {
                                position: relative;
                                flex: 0 1 auto;
                                margin: 15% auto;
                                color: #a5a5a5;
                                font-weight: 600;
                                cursor: pointer;
                            }
                        }
                    }
                }

            }
        }
    }

// Main section wrap_________________________________________
    .content-wrap {
        height: 90%;
        top: 0;
        background: linear-gradient(151deg, #30ac8e4f, #0096dad4);
        color: $darker-text;

//  Inner sections___________________________________________
        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden scroll;
            
//  Dashboard page___________________________________________
            .dashboard-wrap {
                display: flex;
                height: 100%;

                .dashboard-left {
                    flex: 0 1 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

//  Commitment row___________________________________________
                    .commitment-wrap {
                        display: flex;
                        svg {
                            color: #ffffff;
                            background: #05444e8c;
                            padding: 5px;
                            border-radius: 20px;
                            width: 16px;
                        }
                    
                        .commitment-thumbnail {
                            flex: 0 1 20%;
                            object-fit: contain;
                        }
                        .commitment-left {
                            display: flex;
                            flex-direction: column;
                            background: #74d4de54;
                            margin: 2%;
                            padding: 1%;
                            box-shadow: 0 1px 1px 1px #383745;

                            .commitment-title {
                                color: $dark-text;
                                border-bottom: 1px solid grey;
                                height: 20%;
                                max-height: 20%;
                                padding: 1% 0;
                                display: flex;

                                .left {
                                    flex: 0 1 80%;
                                }

                                .right {
                                    flex: 1;
                                    text-align: right;
                                }
                            }

                            .commitment-summary {
                                max-height: 75%;
                                color: #0d1224;
                                /* background: #a1dedd; */
                                padding: 2%;
                                
                            }
                        }
                    }
                }

                .dashboard-sidebar {
                    flex: 0 1 20%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    overflow: hidden scroll;
                    position: relative;
                    
                    .dashboard-sidebar-cell {
                        color: $blue-white;
                        padding: 10px;
                        background: white;
                        flex: 0 1 20%;

                        &.title {
                            font-weight: 700;
                        }

                        svg {
                            font-size: 1em;
                            color: #a5a5a5;
                            background: #f4f0fb;
                            border-radius: 10px;
                            padding: 1% 1.5%;
                            transition: 0.3s;
                            vertical-align: bottom;
                            
                            &:hover {
                                color: #f4f0fb;
                                background: #a5a5a5;
                            }
                        }
                    }
                }
            }
            
            .tagline-section-wrap {
                flex: 1;
                display: flex;
                height: auto;
                justify-content: center;

                .tagline-section-left {
                    flex: 0 1 60%;
                    display: flex;
                    height: 100vh;
                    justify-content: inherit;
                    flex-direction: column;
                    padding: 0 5%;

                    .tagline-title {
                        color: $light-title;
                        font-size: 25px;
                        font-weight: 600;
                    }

                    .tagline-paragraph {
                        text-align: left;
                        color: $dark-text;
                        padding-top: 5%;
                        width: 80%;
                        word-break: normal;
                    }

                }

                .tagline-section-right {
                    background-color: $image-overlay;
                    flex: 0 1 40%;
                    height: auto;
                    background-image: url(https://images.unsplash.com/photo-1520179496724-39ca3d310cfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
                    background-blend-mode: overlay;
                    background-size: cover;
                    background-position-y: bottom;
                }
            }
        }
    }

// Footer ___________________________________________________
    .app-footer-wrap {
        height: 10%;
        background: black;
        color: $light-title;
        display: flex;

        div {
            flex: 1;
            text-align: center;
        }
    }
    
}//Main app container end


// Keyframes_________________________________________________
