// Common rules______________________________________________
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

body {
    ::-webkit-scrollbar { 
        display: none; 
    }
}

// Standalone rules__________________________________________

// Main app container________________________________________
#client {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

// Optional login bar________________________________________
    .login-bar-wrap {
        height: 5px;
        flex: 1;
        border-bottom: 1px solid;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        align-items: center;
        background: #8856d817;
        transition: .5s;
        color: #8856d817;
        
        a {
            color: #8856d817;
        }

        &.active {
            color: #9a7979;
            border: none;
            height: 25px;
       
            a {
                color: #a77f8a;
                cursor: pointer;
                font-weight: 600;
                &:hover {
                    color: #604d52;
                }
            }
        }
        

        .action-register {
            flex: 1;
            padding: 0 0 0 5px;
            
        }

        .login-bar {
            display: flex;
            padding: 0 1%;
            flex: 0 1 auto;
            align-self: center;

            div {
                display: flex;
                flex: 0 1 auto;
                align-self: center;
                word-break: keep-all;

                &:first-of-type {
                    padding: 0 5px 0 0;
                }
            }
        }
    }

// Header ___________________________________________________
    .header-wrap {
        position: relative;
        height: auto;
        width: 100%;
        .header {
            height: 50px;
            display: flex;
            align-items: center;
            box-shadow: 0 1px #00000073;
// Nav bar __________________________________________________
            .nav-wrap {
                &.topnav {
                    display: flex;
                    flex: 1;
                    height: 100%;
                    align-items: center;
// Topnav cells______________________________________________
                    .nav-cell {
                        flex: 1 1 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: #a5a5a5;
                        font-weight: 600;
                        text-transform: uppercase;

                        div {
                            margin: auto;
                        }

                        &.active {
                            color: white;
                            background: #12a9abde;
                        }

                        &.logo {
                            &:hover {
                                background: white;
                                color: #a5a5a5;
                            }
                        }

                        &:hover {
                            background: #12a9abde;
                            color: #c9f0ff;

                            div {
                                margin: 0 auto 5% auto;
                            }
                        }
                    }
                }

            }
        }
    }

// Main section wrap_________________________________________
    .content-wrap {
        height: 90%;
        top: 0;
        background: linear-gradient(151deg, #30ac8ead, #0096dad4);
        color: #0d1224;

//  Inner sections
        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden scroll;

            .tagline-section-wrap {
                flex: 1;
                display: flex;
                height: auto;
                justify-content: center;

                .tagline-section-left {
                    flex: 0 1 60%;
                    display: flex;
                    height: 100vh;
                    justify-content: inherit;
                    flex-direction: column;
                    padding: 0 5%;

                    .tagline-title {
                        color: #dbf9f8;
                        font-size: 25px;
                        font-weight: 600;
                    }

                    .tagline-paragraph {
                        text-align: left;
                        color: #224f5a;
                        padding-top: 5%;
                        width: 80%;
                        word-break: normal;
                    }

                }

                .tagline-section-right {
                    background-color: #4531b673;
                    flex: 0 1 40%;
                    height: auto;
                    background-image: url(https://images.unsplash.com/photo-1520179496724-39ca3d310cfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
                    background-blend-mode: overlay;
                    background-size: cover;
                    background-position-y: bottom;
                }
            }
        }
    }

// Footer ___________________________________________________
    .app-footer-wrap {
        height: 10%;
        background: black;
        color: #cce2ea;
        display: flex;

        div {
            flex: 1;
            text-align: center;
        }
    }
    
}//Main app container end


// Keyframes_________________________________________________
